/* importing fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;1,300;1,400;1,500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

/* side nav */
.side-nav {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 220px !important;
    height: 100vh !important;
    padding: 20px;
    background-color: rgb(0, 33, 54) !important;
    z-index: 1;
}

.primary-color {
    color: rgb(0, 33, 54) !important;
}

.primary-bg {
    background-color: rgb(0, 33, 54) !important;
}

/* top header and main content spacing */
.main-content {
    margin-left: 220px;
}

/* adjust main content spacing */
.main-content-margin {
    margin-top: 80px;
}

/* padding for wrapping main components */
.wrap-pd {
    padding: 10px;
}

/* flex class */
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.justfiy-start {
    justify-content: flex-start;
}

/* margin */
.ml-1 {
    margin-left: 20px;
}

.my-5 {
    margin: 30px 0 !important;
}

.mr-1 {
    margin-right: 20px;
}

.mr {
    margin-right: 10px;
}

.mt-5 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 10px;
}

/* padding */
.pd {
    padding: 10px;
}

.pd-2 {
    padding: 20px;
}

.pdt-1 {
    padding-top: 10px;
}

.pdt-3 {
    padding-top: 30px;
}

/* cursor */
.pointer {
    cursor: pointer;
}


/* fonts */
.n-font {
    font-size: 17px !important;
}

.m-font {
    font-size: 25px !important;
}

.lg-font {
    font-size: 30px !important;
}

/* colors */
.c-white {
    color: white;
}

/* background colors */
.bg-black {
    background-color: black;
}

.c-green {
    color: green;
}

/* border */
.rounded {
    border-radius: 10px;
}

/* links  */
.links {
    text-decoration: none;
}

/* width */
.w-4 {
    width: 40px;
}

/* width */
.full-width {
    width: 100%;
}

/* z index */
.index-up {
    z-index: 99999999999999999 !important;
}


.bg-side {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    height: 100% !important;
    width: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .5s;
}

/* media queries */
@media (max-width: 1200px) {

    /* side nav */
    .side-nav {
        display: none !important;
        left: -200% !important;
        transition: .5s;
    }

    #res-side-nav {
        display: block !important;
        left: 0 !important;
    }

    /* main content */
    .main-content {
        margin-left: 0;
    }
}
