.topitems-header {
/* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    padding: 10px;
    position: fixed;
    width: calc(100% - 220px);
    z-index: 1;
}

.icons-style {
    color: rgb(0, 33, 54) !important;
    width: 30px !important;
    height: 30px !important;
    margin-right: 25px !important;
}
.menu {
    margin-right: 10px !important;
    display: none !important;
}



/* media query */
@media screen and (max-width: 1200px) {
    .topitems-header {
        width: 100%;
    }
    .menu{
        display: block !important;
    }
}
@media screen and (max-width: 400px) {
.icons-style {
        margin-right: 15px !important;
    }
}
